@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

:root {
	--blue: #5f98cd;
	--blue-dark: #264057;
	--blue-light:#b2daff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100vh;
}

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 400px;
	border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
	background: var(--blue-dark);
	color: #666666;
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
	overflow: hidden;
}

.panel {
	position: absolute;
	z-index: 2;
	height: 300px;
	width: 300px;
	top: 50px;
	left: 50px;
	background-color: #fff;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
	transition: all 0.5s ease-in-out;
}

.panel.show-menu {
	transform: translate3d(150px, 0, 0);
}

.panel .header {
	height: 60px;
	width: 100%;
	background-color: var(--blue);
}

.menu-icon {
	position: absolute;
	width: 29px;
	height: 15px;
	top: 23px;
	left: 20px;
	cursor: pointer;
}

.menu-icon:hover .dash-top,
.menu-icon:hover .dash-bottom,
.menu-icon:hover .circle {
	background-color: #fff;
}

.dash-top {
	position: absolute;
	width: 20px;
	height: 3px;
	top: 0;
	left: 0;
	background-color: var(--blue-light);
	border-radius: 3px;
	transition: all 0.2s ease-in-out;
}

.dash-bottom {
	position: absolute;
	width: 29px;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: var(--blue-light);
	border-radius: 3px;
	transition: all 0.2s ease-in-out;
}

.circle {
	position: absolute;
	height: 7px;
	width: 7px;
	border-radius: 4px;
	top: -2px;
	right: 0;
	background-color: var(--blue-light);
	transition: all 0.2s ease-in-out;
}

.title {
	display: block;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-weight: 600;
	font-size: 15px;
}

.search-input {
	position: absolute;
	top: 13px;
	right: 55px;
	width: 230px;
	height: 34px;
	border-radius: 17px;
	border: none;
	padding: 0 17px;
	font-size: 13px;
	color: #666;
	transition: all 0.3s ease-in-out;
	transform: translateX(15px);
	opacity: 0;
	pointer-events: none;
}

.search-input:focus {
	outline: none;
}

.search-input.active {
	transform: translateX(0);
	opacity: 1;
	pointer-events: all;
}

.search-icon {
	position: absolute;
	z-index: 2;
	font-size: 21px;
	color: var(--blue-light);
	top: 18px;
	right: 20px;
	transition: all 0.3s ease;
	cursor: pointer;
}

.search-icon:hover {
	color: #fff;
}

.notifications {
	position:  relative;
	height: 100%;
	overflow: hidden;
}

.panel .notifications .line {
	position: absolute;
	top:0;
	left: 27px;
	bottom: 0;
	width: 3px;
	background-color: #ebebeb;
}

.notification {
	position: relative;
	z-index: 2;
	margin: 25px 20px 25px 43px;
}

.notification:hover {
	color: var(--blue);
	cursor: pointer;
}

.notification .circle {
	position: absolute;
	height: 11px;
	width: 11px;
	background-color: #fff;
	border: 2px solid var(--blue);
	box-shadow: 0 0 0 3px #fff;
	border-radius: 6px;
	top: 0;
	left: -20px;
}

.notification .time {
	display: block;
	font-size: 11px;
	line-height: 11px;
	margin-bottom: 2px;
}

.notification p {
	font-size: 15px;
	line-height: 20px;
}

.notification p b {
	font-weight: 600;
}

.notification:nth-child(2) {
	animation: here-am-i 0.5s ease-out 0.4s;
	animation-fill-mode: both;
}

@keyframes here-am-i {
	from {
		transform: translate3d(0, 50px, 0);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.notification:nth-child(3) {
	animation: here-am-i 0.5s ease-out 0.6s;
	animation-fill-mode: both;
}

.notification:nth-child(4) {
	animation: here-am-i 0.5s ease-out 0.8s;
	animation-fill-mode: both;
}

.menu {
	position: absolute;
	width: 170px;
	height: 270px;
	top: 65px;
	left: 50px;
	background-color: #43627d;
	border-radius: 3px;
	transition: all 0.5s ease-in-out;
	transform: translate3d(20px, 0, 0);
}

.menu.active {
	box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
	transform: translate3d(0, 0, 0);
}

.menu ul {
	padding: 10px 0;
}

.menu ul li {
	display: flex;
	flex-flow: row wrap;
	color: #93b2cd;
	padding: 18px 17px;
	list-style: none;
	font-size: 14px;
	line-height: 14px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.menu li:hover {
	color: #fff;
	background-color: #385269;
}

.menu li span {
	display: block;
	margin-right: 8px;
	margin-top: -1px;
}

.fa-gear,
.fa-user,
.fa-bell {
	margin-top: 0;
}
